#banner{
    width: 100%;
}

.titulo-principal{
   padding-left: 20px;
}

p{
    text-align: center;
    padding-bottom: 10px;
}

#missao{
    font-size: 20px;
}

em strong{
    color: red;
}

.itens{
    font-style: italic;
    font-size: 18px;
    padding: 5px 0 10px;
}

.principal{
    padding: 50px;
}

.beneficios{
    background: #eee;
    padding: 20px;
}

.titulo-centralizado{
    text-align: center;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 25px;
}

h2, h3{
    font-size: 30px;
    font-weight: bold;
    padding: 20px 0;
}

.beneficios ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin: 10% 0 0 15%;
}

.imagembeneficios{
    width: 50%;
}